{% extends 'backOffice/base.html.twig' %}

{% block title %}Accord nutrition to Ingredient{% endblock %}

{% block body %}
    <h1>Accord Nutrition Ingredient</h1>

    {{ include('ingredient/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ingredient_index') }}">back to list</a>


{% endblock %}
{% block js %}
<script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if error_message is defined %}
                const errorMessage = "{{ error_message }}";
                if (errorMessage) {
                    alert(errorMessage);
                }
            {% endif %}
        });
    </script>
{% endblock %}
