{% extends '/frontOffice/base.html.twig' %}

{% block title %}NEW NUTRITION!{% endblock %}

{% block body %}

    <h1>hello</h1>
    

    <form>

         <div class="form-group">
        <div><label for="nutrition_userId" class="required">User id</label><input type="number" id="nutrition_userId" name="nutrition[userId]" required="required" class="form-control" /></div>
        </div>

        <div class="form-group">
        <div><label for="nutrition_idIngredient" class="required">Id ingredient</label><input type="text" id="nutrition_idIngredient" name="nutrition[idIngredient]" required="required" class="form-control" /></div>
        </div>


        <div class="form-group">
        <div><label for="nutrition_idRecette" class="required">Id recette</label><input type="text" id="nutrition_idRecette" name="nutrition[idRecette]" required="required" class="form-control" /></div>
        </div>


        <div class="form-group">
        <div><label for="nutrition_calories" class="required">Calories</label><input type="text" id="nutrition_calories" name="nutrition[calories]" required="required" class="form-control" /></div>
        </div>


        <div class="form-group">
        <div><label for="nutrition_carbs" class="required">Carbs</label><input type="text" id="nutrition_carbs" name="nutrition[carbs]" required="required" class="form-control" /></div>
        </div>


        <div class="form-group">
        <div><label for="nutrition_fat" class="required">Fat</label><input type="text" id="nutrition_fat" name="nutrition[fat]" required="required" class="form-control" /></div>
        </div>


        <div class="form-group">
        <div><label for="nutrition_fiber" class="required">Fiber</label><input type="text" id="nutrition_fiber" name="nutrition[fiber]" required="required" class="form-control" /></div>
        </div>


        <div class="form-group">
        <div><label for="nutrition_protein" class="required">Protein</label><input type="text" id="nutrition_protein" name="nutrition[protein]" required="required" class="form-control" /></div>
        </div>


        <div class="form-group">
        <div><label for="nutrition_vitamines" class="required">Vitamines</label><input type="text" id="nutrition_vitamines" name="nutrition[vitamines]" required="required" class="form-control" /></div>
        </div>
        

        <div class="form-group">
        <div><label for="nutrition_image" class="required">Image</label><input type="file" id="nutrition_image" name="nutrition[image]" required="required" class="form-control-file" /></div>
        </div>

        <button class="btn btn-primary"> Ajouter </button>

    </form>

    

{% endblock %}       