{% extends '/backOffice/base.html.twig' %}
{% block title %}Edit PlanAlim{% endblock %}
{% block body %}
    <style>
        /* Styles spécifiques au formulaire */
        .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            background-color: #007bff; /* Bleu */
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3; /* Bleu plus foncé au survol */
        }

        .btn-secondary {
            background-color: #dc3545; /* Rouge */
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
        }

        .btn-secondary:hover {
            background-color: #c82333; /* Rouge plus foncé au survol */
        }
    </style>

    <div class="container">
        <h1>Edit PlanAlim</h1>

        {{ include('plan_alim/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_plan_alim_index') }}" class="btn btn-secondary mt-3">Back to list</a>

        {{ include('plan_alim/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block js %}
{% endblock %}
