
{% extends '/backOffice/base.html.twig'  %}
{% block title %}Repas{% endblock %}
{% block body %}
<title>Edit Regime</title>


    <h1>Edit Regime</h1>

    {{ include('regime/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_regime_index') }}">back to list</a>

    {{ include('regime/_delete_form.html.twig') }}
{% endblock %}
{% block js %}
{% endblock %}

