
{% extends '/backOffice/base.html.twig'  %}
{% block title %}Repas{% endblock %}
{% block body %}
<title>New Regime</title>


    <h1>Create new Regime</h1>

    {{ include('regime/_form.html.twig') }}

    <a href="{{ path('app_regime_index') }}">back to list</a>
{% endblock %}
{% block js %}
{% endblock %}

